<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mi {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="mi">
        <h3>Trang không tồn tại hoặc không tìm thấy</h3>
        <h1>404 NOT FOUND </h1>
        <div>
            <a href="/">Về Trang Chủ</a>
        </div>
    </div>
</body>

</html>